main{
    margin: 100px 30% 0 30%;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(70, 70, 70, 0.596);
    -webkit-box-shadow: 0px 0px 24px 1px #303030bf;
    -moz-box-shadow: 0px 0px 24px 1px #303030bf;
    box-shadow: 0px 0px 24px 1px #303030bf;
}
